<ng-container *ngIf="todosList">
  <mat-card *ngFor="let todo of todosList" class="card">
    <mat-card-header>
      <mat-card-title>{{ todo.label }}</mat-card-title>
      <mat-card-subtitle>{{ todo.category }}</mat-card-subtitle>
      <mat-card-content>{{ todo.description }}</mat-card-content>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>EDIT</button>
      <button mat-button (click)="onDeleteTodo(todo.id)">DELETE</button>
      <button mat-button>FINISHED</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
